<table data-sort="sortDisabled">
    <tbody>
        <tr class="firstRow">
            <td valign="middle" rowspan="1" colspan="1" align="center"  width="72">
                <input name="data_6" type="text" title="project-name" value="" leipiplugins="text" orghide="0" orgalign="center" orgtype="text" style="text-align: center;"/>
            </td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
            <td rowspan="1" valign="middle" align="center" width="72" ></td>
        </tr>
        <tr>
            <td width="74" valign="top" style="word-break: break-all; ">
                承包单位：
            </td>
            <td valign="top" rowspan="1" colspan="4" >
                <input name="data_7" type="text" title="test1" value="" leipiplugins="text" orghide="0" orgalign="left" orgtype="text" style="text-align: left;"/>
            </td>
            <td width="74" valign="top" style="word-break: break-all; ">
                标段号：
            </td>
            <td valign="top" rowspan="1" colspan="4" >
                <input name="data_8" type="text" title="number1" value="" leipiplugins="text" orghide="0" orgalign="left" orgtype="int" style="text-align: left;"/>
            </td>
        </tr>
        <tr>
            <td width="74" valign="top" style="word-break: break-all; ">
                监理单位：
            </td>
            <td valign="top" rowspan="1" colspan="4" >
                <input name="data_9" type="text" title="test2" value="" leipiplugins="text" orghide="0" orgalign="left" orgtype="text" style="text-align: left;"/>
            </td>
            <td width="74" valign="top" style="word-break: break-all; ">
                编号：
            </td>
            <td valign="top" rowspan="1" colspan="4" >
                <input name="data_10" type="text" title="number" value="" leipiplugins="text" orghide="0" orgalign="left" orgtype="int" style="text-align: left;"/>
            </td>
        </tr>
        <tr>
            <td valign="middle" rowspan="1" colspan="10" align="center" style="word-break: break-all; ">
                现场问题整改通知单<br/>
            </td>
        </tr>
        <tr>
            <td valign="top" style="word-break: break-all; " rowspan="1" colspan="2">
                致（<span style="text-wrap: wrap;">承包人</span>）
            </td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
        </tr>
        <tr>
            <td width="74" valign="top" ></td>
            <td valign="top" rowspan="1" colspan="9" style="word-break: break-all; ">
                经检查发现你部存在如下问题：<br/>
            </td>
        </tr>
        <tr>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" style="word-break: break-all; ">
                问题描述
            </td>
            <td valign="top" rowspan="1" colspan="8" ></td>
        </tr>
        <tr>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" style="word-break: break-all; ">
                整改要求
            </td>
            <td valign="top" rowspan="1" colspan="8" ></td>
        </tr>
        <tr>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" style="word-break: break-all; ">
                限于
            </td>
            <td width="74" valign="top" >
                <input name="data_13" type="text" value="{macros}" title="date" leipiplugins="macros" orgtype="sys_datetime" orghide="0"/>
            </td>
            <td valign="top" rowspan="1" colspan="7" style="word-break: break-all; ">
                前整改完成，并将整改情况报检查单位
            </td>
        </tr>
        <tr>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" ></td>
            <td width="74" valign="top" style="word-break: break-all; ">
                检查人
            </td>
            <td valign="top" rowspan="1" colspan="3" >
                <input name="data_14" type="text" title="people-name" value="" leipiplugins="text" orghide="0" orgalign="left" orgtype="text" style="text-align: left;"/>
            </td>
        </tr>
        <tr>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="4" >
                <input name="data_15" type="text" value="{macros}" title="date1" leipiplugins="macros" orgtype="sys_datetime" orghide="0"/>
            </td>
        </tr>
        <tr>
            <td valign="top" rowspan="1" colspan="1" ></td>
            <td valign="top" rowspan="1" colspan="9" style="word-break: break-all; ">
                签收意见
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>